<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* * {
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
* {
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo {
  width: 11rem;
  height: 5rem;
  margin-left: 3rem;
}
#nav {
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.navbar a {
  /* display: flex;
      flex-direction: row;
      justify-content: space-around; */
  padding: 1rem;
  font-size: 1.1rem;
  color: aliceblue;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: 0.2rem solid white;
  font-size: 1.18rem;
}
#preloader {
  width: 100%;
  background: white url("../images/loader.gif") no-repeat center;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-size: 40%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.contact {
  position: relative;
  min-height: 100vh;
<<<<<<< HEAD
  padding: 3.2rem 6.25rem;
=======
  padding: 50px 100px;
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../images/bg.jpg);
  background-size: cover;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin-top: 1.9rem;
}
.contactForm {
  width: 60%;
  padding: 4.7rem;
  background: rgb(188, 228, 231);
  border-radius: 10%;
  margin: 6.25rem;
}
.contactForm h2 {
  font-size: 2.5rem;
  text-align: center;
  color: maroon;
=======
  margin-top: 30px;
}
.contactForm {
  width: 60%;
  padding: 75px;
  background: rgb(188, 228, 231);
  border-radius: 10%;
  margin: 100px;
}
.contactForm h2 {
  font-size: 40px;
  text-align: center;
  color:maroon;
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
<<<<<<< HEAD
  margin-top: 0.625rem;
=======
  margin-top: 10px;
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
<<<<<<< HEAD
  padding: 0.12rem 0;
  font-size: 0.94rem;
  margin: 2.5rem 0;
  border: none;
  border-bottom: 0.125rem solid;
=======
  padding: 3px 0;
  font-size: 15px;
  margin: 40px 0;
  border: none;
  border-bottom: 2px solid;
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
<<<<<<< HEAD
  padding: 0.1875rem 0;
  font-size: 0.94rem;
  margin: 0.625rem 0;
=======
  padding: 3px 0;
  font-size: 15px;
  margin: 10px 0;
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
<<<<<<< HEAD
  color: crimson;
  font-size: 0.625rem;
=======
  color:crimson;
  font-size: 10px;
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
  transform: translateY(-5px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: honeydew;
  color: rgb(7, 6, 6);
  border: none;
  cursor: pointer;
<<<<<<< HEAD
  padding: 0.625rem;
  font-size: 1.125rem;
=======
  padding: 10px;
  font-size: 18px;
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
  margin: auto;
  display: flex;
  justify-content: center;
  display: grid;
}

<<<<<<< HEAD
.links {
  font-size: 2.5rem;
=======
.links 
{
  font-size: 40px;
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
  font-style: oblique;
  position: relative;
  text-align: center;
}
<<<<<<< HEAD
.links a {
  text-decoration: none;
}
=======
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49

/* footer {
  background-color: antiquewhite;
  color: crimson;
  bottom: 0px;
  position: relative;
  width: 100%;
  text-align: center;
  font-style: italic;
} */
footer {
  background-color: #37474f;
  color: whitesmoke;
<<<<<<< HEAD
  bottom: 0px;
  position: relative;
  width: 100%;
=======
  bottom:0px;
  position: relative;
  width:100%;
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
}

.arrow_up {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /* float: right;
  margin-right: 0.6rem; */
}
<<<<<<< HEAD

@media (max-width: 998px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 300px) {
  .contact h2 {
    font-size: 1.3rem;
  }
  #send {
    width: 60%;
  }
}
=======
>>>>>>> b44522e74d9c4ae006aac932a48c3068f23b5b49
